testdirectory /bigdata/evaluation/sentiment.polarization/
language en
userid jussi.karlgren+lexicontester@gavagai.se
password lexicon
apikey 8c531b77a4102c837c67b9fa3fd629bd
host api.gavagai.se
oscarbucketsize 10000
oscartestfilename rvw-en-finegrained.txt
pangleebucketsize 0
replabbucketsize 10000
replabtestfilename replab2013-noquotes.txt
stanfordbucketsize 14000
stanfordtestfilename sentences_clean.txt
# how many texts to analyze from the whole file (randomly chosen). Set to the total size to use all.
netigateSampleSize 420
netigateTestFilename netigateTestData.csv